{% extends "base.html.twig" %}

{% block title %}Lessons{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>{{ lesson.getTitle }} </h1>
  <hr>
</div>
<div class="row">
    <div class="col-sm-8">
        <h1>{{lesson.getTitle}}</h1>
        <h4><em>{{lesson.getDescription}}</em></h4>
        <hr>
        <div class="well">
            <p>
                {{lesson.getContent}}
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Add Another Lesson</h3>
        <hr>
        <form action="/add_lesson_to_course" method="post">
            <div class="panel panel-info">
                <div class="form-group">
                <div class="panel-body">
                    <select class="form-group" name="course_id">
                        {% for course in school.getCourses %}
                        <option value="{{course.getId}}">{{course.getTitle}}</option>
                        {% endfor %}
                    </select>

                    <input type="text" name="title" placeholder="Lesson Title" class="form-control"><br>
                    <input type="text" name="description" placeholder="Description" class="form-control"><br>
                    <label for="content">Content</label><br>
                    <textarea name="content" rows="8" cols="40"></textarea>
                    <button type="submit">Add Lesson</button>
                </div>
                </form>
            </div>
        </div>
</div>
</div>
{% endblock %}
