{% extends "base2.html.twig" %}

{% block title %}Course{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ course.getTitle }} </h1>
    <hr>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Lessons</h3>
        <hr>
        {% if lessons is not empty %}
        <ul>
            {% for lesson in lessons  %}
            <li>&#9675; <a href="/owner_lessons/{{lesson.getId}}">{{lesson.getTitle}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3>Change Course</h3>
        {% if courses is not empty %}
        <form action="/owner_courses/redirect" method="post">
            <select name="course_select" onchange="this.form.submit();">
                <option disabled selected value>Choose a course</option>
                {% for course_select in courses %}
                <option value="{{course_select.getId}}"> {{course_select.getTitle}}</option>
                {% endfor %}
            </select>
        </form>
        {% endif %}
    </div>
    <!-- left column -->
    <div class="col-sm-4">
        <h3>Add Course to this Lesson</h3>
        <hr>
        <form action="/add_lesson_to_course" method="post">
            <input type="hidden" name="course_id" value="{{course.getId}}"><br>
            <div class="panel panel-info">
                <div class="form-group">
                    <div class="panel-body">
                        <label for="title">Lesson Name</label><br>
                        <input  class="form-control" type="text" name="title"><br>
                        <label for="description">Lesson Description</label><br>
                        <input class="form-control"  type="text" name="description"><br>
                        <label for="content">Content</label><br>
                        <textarea name="content" rows="8" cols="40"></textarea>
                        <button type="submit">Add Lesson</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <h3>Enroll Students in This Course</h3>
        <hr>
        <form action="/owner_courses/{{ course.getId }}" method="post">
            <label>Enroll Students</label>
            {% if students is not empty %}
            <select class="form-control" name="student_id">
                {% for student in students %}
                <option value="{{student.getId}}">{{student.getName}}</option>
                {% endfor %}
            </select>
            <button type="submit" id="smallbutton" class="btn btn-info btn-sm" name="button">submit</button>
            {% endif %}
        </form>
        <br>
        <hr>
        <br>


        {% if enrolled_students is not empty %}
        <h3>Current Students</h3>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                {% for student in enrolled_students  %}
                <tr>
                    <td><a href="/../owner_students/{{student.getId}}">{{student.getName}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
